<div style="display: flex; flex-direction: column; height: 100vh">
  <div>
    <mat-toolbar
      #appToolbar
      color="primary"
      style="z-index: 10;position: relative;box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);"
    >
      <!-- quick navigation buttons -->
      <button mat-icon-button (click)="sidenavLeft.toggle()"><mat-icon [svgIcon]="appService.iconSet.menu"></mat-icon></button>
      <button mat-icon-button routerLink="/"><mat-icon [svgIcon]="appService.iconSet.home"></mat-icon></button>

      <!-- title in the center -->
      <div ngStyle.gt-xs="position: absolute; left:50%" fxLayout="row wrap">
        <a
          matRipple
          fxShow="appService.user?"
          ngStyle.gt-xs="cursor:pointer;position: relative;left: -50%;margin-left: 6px"
          (click)="showUserPreference()"
        >
          <span fxHide fxShow.gt-sm>
            Title
          </span>
          <span fxHide fxShow.lt-md> Small title </span>
        </a>
      </div>

      <!-- app level features like search,logout,help etc... -->
      <div style="width: 100%" fxLayoutAlign="end">
        <!-- <button mat-icon-button (click)="onSearch()"><mat-icon [svgIcon]="appService.iconSet.search"></mat-icon></button> -->

        <button matTooltip="User preference" mat-button fxHide.lt-lg (click)="showUserPreference()">
          <mat-icon [svgIcon]="appService.iconSet.circleAccount"></mat-icon>
          {{ appService.user?.displayName }}
        </button>
        <button matTooltip="User preference" mat-icon-button fxHide.lg (click)="showUserPreference()">
          <mat-icon [svgIcon]="appService.iconSet.circleAccount"></mat-icon>
        </button>
        <!-- <button matTooltip="Notifications" mat-icon-button (click)="notificationSidenav.toggle()">
          <mat-icon [svgIcon]="appService.iconSet.notifications" matBadge="0" matBadgeColor="accent"></mat-icon>
        </button> -->
        <button matTooltip="Logout" mat-icon-button (click)="logout()">
          <mat-icon [svgIcon]="appService.iconSet.logoff"></mat-icon>
        </button>
        <!-- <button matTooltip="Help" mat-icon-button [matMenuTriggerFor]="helpMenu">
          <mat-icon [svgIcon]="appService.iconSet.help"></mat-icon>
        </button>
        <mat-menu #helpMenu>
          <button mat-menu-item [matMenuTriggerFor]="userManuals">
            <mat-icon [svgIcon]="appService.iconSet.userManual"></mat-icon>
            <span> User manual </span>
          </button>
          <button mat-menu-item (click)="onReload()">
            <mat-icon [svgIcon]="appService.iconSet.refresh"></mat-icon><span>Refresh TMS</span>
          </button>
          <button mat-menu-item (click)="onCheckForUpdate()">
            <mat-icon [svgIcon]="appService.iconSet.update"></mat-icon>
            <span>Check for update</span>
          </button>
        </mat-menu>

        <mat-menu #userManuals>
          <button mat-menu-item (click)="onMenu1()"><span>Menu 1</span></button>
          <button mat-menu-item (click)="onMenu2()"><span>Menu 2</span></button>
        </mat-menu> -->
      </div>
    </mat-toolbar>
    <!-- app level progress bar indicator -->
    <mat-progress-bar
      *ngIf="(appService.isBusy$ | async)"
      style="position: absolute; top: 64px; z-index: 9999;"
      mode="indeterminate"
      color="warn"
    ></mat-progress-bar>
  </div>

  <!-- body of the app -->

  <mat-sidenav-container style="display:block; flex:1; width:100%; position: relative">
    <!-- typical side menu -->
    <mat-sidenav ngStyle.lg="min-width:24vw;max-width:27.5vw" #sidenavLeft mode="over" [opened]="isSideNavOpened">
      Side Nav content
    </mat-sidenav>
    <!-- notifications in the right side -->
    <mat-sidenav ngStyle.lg="min-width:25vw;max-width:27.5vw" #notificationSidenav position="end" mode="over">
      No notifications
    </mat-sidenav>
    <!-- Component based on routing -->
    <div style="overflow:auto;display:block;height:100%;width:100%;" [@routerTransition]="getState(route)">
      <router-outlet #route="outlet"></router-outlet>
      <router-outlet name="popup"></router-outlet>
    </div>
  </mat-sidenav-container>
</div>
